<md-toolbar color="primary">
  <span>{{title}}</span>

</md-toolbar>
<br>
<md-card>
  <md-card-title>
    Add new reading
  </md-card-title>
  <md-card-content>
    <md-input-container >
    <input mdInput  type="date" placeholder="Date of reading" [ngModel]="curr.date" (ngModelChange)="curr.date = $event">
    </md-input-container>
  <md-input-container style="width: 100%;">
    <input mdInput  type="number"  placeholder="Enter Sugar reading" [ngModel]="curr.reading" (ngModelChange)="curr.reading = $event">
  </md-input-container>
  <md-radio-button (change)="whenChanged($event.value)" value="OES">On Empty Stomach </md-radio-button><br>
  <md-radio-button (change)="whenChanged($event.value)" value="AB">After Breakfast</md-radio-button><br>
  <md-radio-button (change)="whenChanged($event.value)" value="BL">Before Lunch</md-radio-button><br>
  <md-radio-button (change)="whenChanged($event.value)" value="AL">After Lunch</md-radio-button><br>
  <md-radio-button (change)="whenChanged($event.value)" value="BD">Before dinner</md-radio-button><br>
  <md-radio-button (change)="whenChanged($event.value)" value="AD">After dinner</md-radio-button><br>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button md-mini-fab style="background-color:green;color:white"  (click)="addReading(curr)"><md-icon>check</md-icon></button>
    <button md-mini-fab style="background-color:red;color:white"><md-icon>clear</md-icon></button>
  </md-card-actions>
</md-card>
<br>
<md-card>
<md-card-title>Blood sugar history </md-card-title>
  <md-card-actions>
    <md-input-container style="width: 60%;">
      <input mdInput type="text" placeholder="Enter the text to search .. " >
      </md-input-container>
    <button md-mini-fab  style="background-color:orange;color:white"><md-icon>search</md-icon></button>
    <button md-mini-fab  style="background-color:Green;color:white"><md-icon>add</md-icon></button>
    <button md-mini-fab style="background-color:dodgerblue;color:white"><md-icon>create</md-icon></button>
    <button md-mini-fab style="background-color:red;color:white" (click)="deleteRecord()"><md-icon>delete</md-icon></button>
    <button md-mini-fab  style="background-color:gray;color:white"><md-icon>settings</md-icon></button>
  </md-card-actions>
  <md-card-content>
    <ngx-datatable
      style="width: 100%"
      class="material striped"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [selected]="selected"
      [selectionType]="'checkbox'">
      <ngx-datatable-column
        [width]="30"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="true"
        [resizeable]="true"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Date" [sortable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="When" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Reading" [sortable]="true"></ngx-datatable-column>
      </ngx-datatable>
      </md-card-content>
</md-card>
<br>
