
<div id="loginview" class="loginview">

  <div class="login-image"></div>
  <div class="login">
    <div class="login-details">
<div class ="login-form">
      <md-card>
<div>
        <md-card-title class="md-title">
          Sign In
        </md-card-title>
      </div>
        <md-card-content>
          <md-input-container class="login-input">
             <md-icon mdPrefix>person</md-icon>
            <input mdInput  type="text" placeholder=" Username" [ngModel]="">
          </md-input-container>
          <md-input-container class="login-input">
            <md-icon mdPrefix></md-icon>
            <input mdInput  type="password" placeholder=" Password" [ngModel]="">
          </md-input-container>
    </md-card-content>
    </md-card>
    </div>
        </div>
  </div>
</div>
